<form  action="login" method="POST" id='submit-form' class="my-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Usuario</label>
    <input type="email" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<a href="/facebook" class="btn btn-success my-5">Login con facebook</a>
<a href="/registro" class="btn btn-success my-5">Registrate</a>